.cart {
  margin: 70px;
  margin-left: -50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.cart__heading {
  display: flex;
  align-items: center;
}

.cart__heading > h3 {
  margin-right: 130px;
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 22px;
  color: black;
}

.cart__total > h5 {
  color: black;
}

.cart__items {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border: 0.5px solid rgb(206, 199, 199);
  padding: 20px;
  max-width: 300px;
}

.cart__item {
  display: flex;
}

.cart__buttons {
  display: flex;
  margin-top: 15px;
}

.cart__button1 {
  margin-right: 30px;
  padding: 3px 10px;
  border: 0.5px solid rgb(90, 88, 88);
  color: black;
  cursor: pointer;
  background-color: #ffa62b;
  outline-width: 0;
}

.cart__button2 {
  flex: 1;
  padding: 5px 10px;
  border: 0.5px solid rgb(90, 88, 88);
  color: black;
  cursor: pointer;
  background-color: #ffa62b;
  outline-width: 0;
}

.cart__info > h3 {
  color: black;
}

.cart__image {
  object-fit: contain;
  height: 200px;
  margin-right: 50px;
}
